body {
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

p {
    border: 10px 20px;
    border-radius: 15px;
}

section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 6%;
    border: 10 px;
}

.half-width img {
    width: 50%;
    border-radius: 50px;
}

.link-button {
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.top-banner {
    background-image: url(image/1.jpg);
    background-repeat: no-repeat;